html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-button-primary: #8234E9;
    --color-button-primary-hover: #9956F6;
    --color-button-secondary: #29292E;
    --color-button-secondary-hover: #323238;
    --color-border: #333333;
    --color-text: #ffffff;
    --color-background: #121214;
    --color-surface: #1A1A1E;
}


body {
    background-color: var(--color-background);
    color: #E3E4E6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--color-surface);
    margin: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--color-border);
}

main {
    padding: 1rem;
    flex: 1;
}

footer {
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top: 1px solid var(--color-border);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: .5rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-button-secondary);
    font-size: 1.5rem;
    display: flex;
    color: var(--color-text);
    transition: all .3s ease-in-out;
}

.dropdown-button:hover {
    background-color: var(--color-button-secondary-hover);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 15rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    overflow: hidden;
    color: var(--color-text);
    transition: all .3s ease-in-out;
}

.dropdown-content a {
    background-color: var(--color-button-secondary);
    padding: 1rem;
    text-decoration: none;
    display: flex;
    color: white;
    transition: all .3s ease-in-out;
    gap: .5rem;
}

.dropdown-content a:hover {
    background-color: var(--color-button-secondary-hover);
    color: #F4F4F6;
}

.show {
    display: block;
    
}