* {
    box-sizing: border-box;
}

:root.light-mode {
    --color-button-primary: #7021D6;
    --color-detail: #7021D6;
    --color-button-primary-hover: #8234E9;
    --color-button-secondary: #F0F0F0;
    --color-button-secondary-hover: #E0E0E0;
    --color-border: #D0D0D0;
    --color-text: #212121;
    --color-background: #FFFFFF;
    --color-surface: #F8F8FC;
    --color-button-text: #ffffff;
}

:root {
    --color-button-primary: #8234E9;
    --color-detail: #8234E9;
    --color-button-primary-hover: #9956F6;
    --color-button-secondary: #29292E;
    --color-button-secondary-hover: #323238;
    --color-border: #333333;
    --color-text: #ffffff;
    --color-background: #121214;
    --color-surface: #1A1A1E;
    --color-button-text: #ffffff;
}


body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    overflow-y: hidden;
}

header {
    background-color: var(--color-surface);
    margin: 0;
    position: sticky;
    top: 0;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--color-border);
    width: 100%;

    @media (max-width: 425px) {
        justify-content: center;
    }
}

main {
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

main .container {
    width: 60%;
    padding-top: 4rem;
    @media (max-width: 700px) {
        width: 80%;
    }

}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-surface);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid var(--color-border);
    background: var(--color-button-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-button-primary-hover);
}

main section h2 {
    font-size: 2rem;
    display: flex;
    gap: .5rem;
}

main section {
    padding-top: 1rem;
    margin-bottom: 4rem;
}



main section h2 i {
    color: var(--color-detail);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    width: 100%;
    gap: .5rem;
    @media (max-width: 500px) {
        margin-bottom: 4rem;
    }
}

footer div {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer nav a {
    color: var(--color-text);
    text-decoration: none;
    transition: color .3s ease;
}

footer nav {
    display: flex;
    gap: .5rem;

    @media (max-width: 950px) {
        flex-direction: column;
    }
}

footer nav a:hover {
    color: var(--color-detail);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button, .dark-mode-toggle {
    padding: .5rem;
    min-width: 2.5rem;
    justify-content: center;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-button-secondary);
    font-size: 1.5rem;
    display: flex;
    color: var(--color-text);
    transition: all .3s ease-in-out;
}

.dropdown-button:hover, .dark-mode-toggle:hover {
    background-color: var(--color-button-secondary-hover);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 15rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    overflow: hidden;
    color: var(--color-text);
    transition: all .3s ease-in-out;
    top: 3.5rem;

    @media (max-width: 425px) {
        left: 0;
        transform: translate(-51%, 0);
        width: 100vw;
    }

}

.dropdown-content a {
    background-color: var(--color-button-secondary);
    padding: 1rem;
    text-decoration: none;
    display: flex;
    color: var(--color-text);
    transition: all .3s ease-in-out;
    gap: .5rem;

    @media (max-width: 425px) {
        justify-content: center;
    }
}

.dropdown-content a:hover {
    background-color: var(--color-button-secondary-hover);
    color: var(--color-text);
}

.dropdown-content a:hover i {
    color: var(--color-button-primary-hover);
}

.show {
    display: block;

}

#user-photo {
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    border: 5px solid var(--color-detail);
    object-fit: cover;
}

.section-content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}

.section-content li {
    margin-bottom: .5rem;
}

.section-content li span {
    color: var(--color-detail);
}

#about-me-section {
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    @media (max-width: 425px) {
        flex-direction: column;
    }
}

#skills-section,
#contact-section {
    gap: 1rem;
    flex-direction: row;
    text-align: justify;

    @media (max-width: 450px) {
        flex-direction: column;
    }
}

#skills-section div {
    flex: 1;
}

section:last-child {
    padding-bottom: 4rem;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    padding: 2rem;
    background-color: var(--color-surface);
    text-align: center;
}

.carousel-item img {
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    border: 5px solid var(--color-detail);
    object-fit: cover;
}

.carousel-item h3 {
    color: var(--color-detail);
}

.carousel-item p {
    color: var(--color-text);
}

.carousel-item a,
#contact a,
footer div a {
    background-color: var(--color-button-primary);
    color: var(--color-button-text);
    padding: .5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.carousel-item a:hover,
#contact a:hover,
footer div a:hover {
    background-color: var(--color-button-primary-hover);
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-button-primary);
    color: var(--color-button-text);
    border: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.carousel-control:hover {
    background-color: var(--color-button-primary-hover);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}