* {
    box-sizing: border-box;
}

:root {
    --color-button-primary: #8234E9;
    --color-detail: #8234E9;
    --color-button-primary-hover: #9956F6;
    --color-button-secondary: #29292E;
    --color-button-secondary-hover: #323238;
    --color-border: #333333;
    --color-text: #ffffff;
    --color-background: #121214;
    --color-surface: #1A1A1E;
}


body {
    background-color: var(--color-background);
    color: #E3E4E6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    overflow-y: hidden;
}

header {
    background-color: var(--color-surface);
    margin: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--color-border);
    width: 100%;

    @media (max-width: 425px) {
        justify-content: center;
    }
}

main {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

main .container {
    width: 60%;
    padding-top: 4rem;

}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-surface);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid var(--color-border);
    background: var(--color-button-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-button-primary-hover);
}

main section h2 {
    font-size: 2rem;
    display: flex;
    gap: .5rem;
}

main section h2 i {
    color: var(--color-detail);
}

footer {
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top: 1px solid var(--color-border);
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: .5rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-button-secondary);
    font-size: 1.5rem;
    display: flex;
    color: var(--color-text);
    transition: all .3s ease-in-out;
}

.dropdown-button:hover {
    background-color: var(--color-button-secondary-hover);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 15rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    overflow: hidden;
    color: var(--color-text);
    transition: all .3s ease-in-out;
    top: 3.5rem;

    @media (max-width: 425px) {
        left: 50%;
        transform: translate(-50%, 0);
        width: 100vw;
    }

}

.dropdown-content a {
    background-color: var(--color-button-secondary);
    padding: 1rem;
    text-decoration: none;
    display: flex;
    color: white;
    transition: all .3s ease-in-out;
    gap: .5rem;

    @media (max-width: 425px) {
        justify-content: center;
    }
}

.dropdown-content a:hover {
    background-color: var(--color-button-secondary-hover);
    color: #F4F4F6;
}

.dropdown-content a:hover i {
    color: var(--color-button-primary-hover);
}

.show {
    display: block;

}

#about-me-section {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    ;
}

#user-photo {
    border-radius: 100%;
    width: 8.5rem;
    height: 8rem;
    border: 5px solid var(--color-detail);
    
}

.section-content {
    display: flex;
    background-color: var(--color-surface);
    padding: 2rem;
    gap: 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    align-items: center;
}